!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description })
  %body
    = partial('top')

    - unless data.notice.message.empty?
      .notice
        .grid{'data-nosnippet': 'true'}
          = markdown(data.notice.message)

    .jumbotron
      .grid
        .introduction
          %h1
            = data.jumbotron.title
          = markdown(data.jumbotron.body)

          %a.button.green(href="https://docs.inko-lang.org/manual/master/getting-started/installation/")
            %i.icon-rocket
            Get started

          %a.button.blue(href="https://github.com/sponsors/YorickPeterse")
            %i.icon-handshake-o
            Sponsor

          %a.button(href="https://gitlab.com/inko-lang/inko")
            %i.icon-gitlab
            Follow

        .code-examples
          %select{ title: 'Choose a code example to display' }
            - examples.each_with_index do |example, index|
              %option{ 'data-example' => example['title'],
              selected: index.zero? ? 'selected' : nil }
                = example['title']

          - examples.each_with_index do |example, index|
            .example{ 'data-example' => example['title'],
            class: index.zero? ? 'visible' : nil }
              = code('inko') do
                = example['code']

    .grid
      .about
        = yield
