!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { canonical: current_page.url })
  %body
    = partial('top')

    .page
      .grid
        %article{ class: current_page.data.html_class }
          %header
            %h1
              = current_page.data.title
          = yield

          %h2 Corporate Sponsors
          %table.corporate-sponsors-table
            %tbody
              - data.corporate_sponsors.each do |row|
                %tr
                  %td.logo
                    %img{src: row['logo'], alt: row['name'], width: '150', height: '60'}
                  %td
                    = markdown(row['description'])

          - if data.sponsors.any?
            %h2 GitHub sponsors
            = partial('sponsors')
